@import url('https://fonts.googleapis.com/css?family=Barlow|Lexend+Mega|Muli:300&display=swap');

body {
  background-color: #edf8fa;
}



mark {
  background-color: #b5946b;
  color: #fff;
}
a {
  color: #68264c;
}

h1 {
  font-family: 'Lexend Mega', sans-serif;
  color: #000815;
}

h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  color: #291713
}


p {
  font-family: 'Barlow', sans-serif;
}