@import url('https://fonts.googleapis.com/css?family=Barlow|Lexend+Mega|Muli:300&display=swap');

body {
  background-color: #07060B;
  color: #F2EBE6;
}

mark {
  background-color: #9B5937;
  color: #fff;
}
a {
  color: #CF7C85;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
  font-family: 'Lexend Mega', sans-serif;
  color: #F2EBE6;
}

h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  color: #DFBD9F;
}


p {
  font-family: 'Barlow', sans-serif;
}

blockquote {
  margin-bottom: 3em;
  padding-left: 1em;
  border-left: 0.2em solid #DFBD9F;
  position: relative;
  font-family: "Sanchez", serif;
  font-size: 15px;
  line-height: 1.5em;
}
blockquote p {
  font-family: "Slabo 13px", serif;
}
blockquote cite {
  font-family: "Lexend Mega", sans-serif;
  font-size: 0.6em;
  font-weight: 700;
  color: #d3d3cf;
  float: right;
}
blockquote cite:before {
  content: "―";
}
blockquote:after {
  content: "”";
  position: absolute;
  top: 0.28em;
  right: 0;
  font-size: 6em;
  font-style: italic;
  color: #e7e6e4;
  z-index: -1;
}